body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* KONTEN */
.container {
    background: white;
    margin: 30px;
    padding: 25px;
    border-radius: 10px;
}

table td {
    padding: 5px 15px;
}
