* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.navbar h2 {
    font-weight: 600;
}

.navbar a {
    color: #cbd5f5;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #38bdf8;
}

/* CONTAINER */
.container {
    width: 80%;
    margin: 80px auto;
    background: rgba(255,255,255,0.05);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #38bdf8;
    color: #0f172a;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}
.profile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #38bdf8;
    margin-bottom: 20px;
}
